$color-background: #15163e;
$color-neighborhood: #27255a;
$color-street: #36377b;
$color-artery: #494a90;
$color-freeway: #6265b8;
$color-vehicle: #6cd5ff;
$color-text: white;


$ff: 'Exo 2', sans-serif;
